@use "/src/styles/mixins" as *;

.wrapper {
  margin: 0 auto;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 31px 27px;
  border: 1px solid #dcdce5;
  border-radius: 28px;
  min-height: 250px;

  .movieIcon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }

  .movieCard {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .movieTitle {
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
    }

    .movieField {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .buttonWrapper {
    margin: auto 0 0;
  }
}
