@use "/src/styles/mixins" as *;

.wrapper {
  margin: 0 auto;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 31px 27px;
  border: 1px solid #dcdce5;
  border-radius: 28px;
  min-height: 250px;

  .profilePhoto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .userUserName {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }

  .buttonWrapper {
    margin: auto 0 0;

    button {
      background: #8631ec;
      width: 100%;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50px;
      border-radius: 8px;
      padding: 0 24px;

      @include hover-supported {
        background-color: #5e24a5;
      }
    }
  }
}
